# dependencies
/node_modules

# production build output
/build

# environment variables
/.env

# debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor files
.vscode/
.idea/
*.iml

# misc
.DS_Store
Thumbs.db
